# Server environment variables
SERVER_URL=http://localhost:8080
DATABASE_PATH=./pochato.db
SERVER_PORT=:8080
JWT_SECRET=pochato-secret-key-change-in-production

# Client environment variables
DATA_DIR=./.pochato
